* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00c6ff;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  color: #222;
}
  
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color:white;
}

.profile-pic-div {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
  margin-bottom: 10px;
  position: relative;
}
  
#photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#file {
  display: none;
}

#uploadBtn {
  height: 40px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-pic-div:hover #uploadBtn {
  opacity: 1;
}

.profile-info {
  margin-top: 20px;
  width: 100%;
}

.profile-info label {
  display: block;
  margin-bottom: 5px;
}

.profile-info input[type="text"],
.profile-info input[type="email"],
.profile-info input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.Delete {
  text-align: center;
  size: 78px 40px;
}

.Delete button {
  padding: 8px 16px;
  background-color: #FF0000;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Delete button:hover {
    background-color: #CC0000;
}
/* Add this CSS code to profile.css */

/* Add this CSS code to profile.css */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.right {
  margin-left: auto;
}

