* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #00c6ff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: black;
  font-size: 14px;
  border: 2px solid black;

}

.input:focus {
  outline: none;
  background-color: #f0f0f0;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #000000;
  transition: all 0.2s ease-out;
  pointer-events: none;
  padding: 0 4px;
  background-color: white;
}

.input:focus + .input-label,
.input:not(:placeholder-shown) + .input-label {
  top: -10px;
  left: 8px;
  transform: translateY(0%);
  font-size: 12px;
  color: #000000;
  background-color: #f9f9f9;
  padding: 0 4px;
  border-color: #ccc; /* Add this line */
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #4599ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.button:hover {
  background-color: #398aec;
}

.para-2 {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.anonymous-checkbox-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.anonymous-checkbox {
  margin-right: 5px;
}

.anonymous-label {
  font-size: 14px;
  color: black;
}

.input:not(:focus) + .input-label {
  color: #000;
  background-color: #f9f9f9;
  top: -10px;
  font-size: 12px;
}
