@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(#00c6ff, #0078ff);
}

.body1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.body2 {
    position: relative;
    display: none;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
}

.header #menu li{
    position: absolute;
    list-style-type: none;
    top: 0;
    right: 0;
}

.header #menu li a{
    display: inline-block;
    text-align: center;
    padding: 12px ;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.container1 {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

.container2 {
    width: 750px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    margin-bottom: 50px;
}

.wrapper header {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    padding: 17px 0;
    border-bottom: 1px solid #bfbfbf;
}

.post form {
    margin: 20px 25px;
}

.post form :where(.content, .details .privacy) {
    display: flex;
    align-items: center;
}

.post form .content img {
    max-width: 52px;
}

.post form .content .details {
    margin: -3px 0 0 12px;
}

form .content .details p {
    font-size: 17px;
    font-weight: 500;
}

.post form :where(input, button) {
    width: 100%;
    outline: none;
    border: none;
}

.post form input{
    resize: none;
    font-size: 18px;
    margin-top: 30px;
    min-height: 100px;
}

form button {
    height: 53px;
    cursor: no-drop;
    font-size: 18px;
    font-weight: 500;
    color: #bcc0c4;
    border-radius: 7px;
    background: #e2e5e9;
}

form input:valid ~ button {
    color: #fff;
    cursor: pointer;
    background: #4599ff;
}

button a {
    text-decoration: none;
    color: #bcc0c4;
}



form input:valid ~ button a {
    color: #fff;
}

.viewOrCreate {
    background: #fff;
    height: 40px;
    width: 40px;
    font-size: 30px;
    text-align: center;
    margin-top: 75vh;
    border-radius: 50%;
    color: #bfbfbf;
}

table {
    background: #fff;
    border-radius: 5%;
}

.tableContent0 {
    display: none;
}

.tableContent1 {
    width: 600px;
    text-align: center;
    padding: 50px;
}

.tableContent2 input{
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.tableContent2 input:hover {
    background: #7FFFD4;
}

.tableContent3 input{
    cursor: pointer;
    padding: 5px;
    margin-right: 20px;
    border-radius: 10px;
}

.tableContent3 input:hover {
    background: #D2042D;
}

tr {
    height: 30vh;
    border-radius: 10%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
}
.Logout{
    font-size: medium;
}